%% This configuration file describes four operators that are used to compute the reach of a URL on Twitter,
%%
% Semantics at-most-once | at-least-once | exactly-once
Semantics at-most-once

% LoggingLevel full | light
LoggingLevel light

%% The following lines define an operator.
%%  OPERATOR_ID input ops SOURCE_OP_ID1|FILEPATH1,. . ., SOURCE_OP_IDn|FILEPATHn
%%  rep fact REPL_FACTOR routing primary|hashing|random
%%  address URL1,. . .,URLn
%%  operator spec OPERATOR_TYPE OPERATOR_PARAM1,. . ., OPERATOR_PARAMn
%%

OP1 input ops tweeters.data rep fact 1 routing hashing(1) address tcp://1.2.3.4:11000/op operator spec DUP

OP2 input ops OP1 rep fact 1 routing random address tcp://1.2.3.6:11000/op operator spec DUP

OP3 input ops OP2 rep fact 1 routing random address tcp://1.2.3.6:11000/op operator spec DUP

OP4 input ops OP3 rep fact 1 routing random address tcp://1.2.3.6:11000/op operator spec DUP

OP5 input ops OP4 rep fact 1 routing random address tcp://1.2.3.6:11000/op operator spec DUP

Start OP1

Start OP2

Start OP3

Start OP4

Start OP5