%% This configuration file describes four operators that are used to compute the reach of a URL on Twitter,
%%
% Semantics at-most-once | at-least-once | exactly-once
Semantics at-most-once

% LoggingLevel full | light
LoggingLevel light

%% The following lines define an operator.
%%  OPERATOR_ID input ops SOURCE_OP_ID1|FILEPATH1,. . ., SOURCE_OP_IDn|FILEPATHn
%%  rep fact REPL_FACTOR routing primary|hashing|random
%%  address URL1,. . .,URLn
%%  operator spec OPERATOR_TYPE OPERATOR_PARAM1,. . ., OPERATOR_PARAMn
%%

OP1 input ops tweeters.data rep fact 2 routing random address tcp://1.2.3.4:11000/op, tcp://1.2.3.5:11000/op operator spec DUP

OP2 input ops OP1 rep fact 2 routing primary address tcp://1.2.3.4:11000/op, tcp://1.2.3.5:11000/op operator spec COUNT

Start OP1
Start OP2